.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    width: inherit;
    font-size: 14px;
    color: #BDBDBD;
    border: 0;
    text-align: left;
    outline: none;
}

.submit {
    cursor: pointer;
}