.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

input {
    font-size: 14px;
    color: #BDBDBD;
    border: 0;
    text-align: center;
    outline: none;
}

.submit {
    cursor: pointer;
}