@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

.container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    background-color: white;
}

@keyframes dropdown {
    from {top: -50px;}
    to {top: 0px;}
}
.dropdown {
    width: 100%;
    height: 350px;    
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;    
    justify-self: center;
    padding-top: 70px;    
    padding-bottom: 70px;  
    animation-name: dropdown;
    animation-duration: 0.2s;
}

.content {    
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: space-evenly;
    padding: 49px 97px;
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
}

.bar {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 55px;
    padding: 0 26px 0 26px;
}

p {
    margin: 0;
    padding-top: 10px;
}

.logo {
    width: 69px;
    height: 14px;
}

.location {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    padding: 0;
    margin-right: 20px;
}

.locationList {
    cursor: pointer;
}

li {
    list-style: none;
    margin: 0; 
    
}


ul {
    color: #4F4F4F;
    font-size: 14px;
    display: flex;
    flex-direction: row;    
    align-items: center;    
    margin: 0;
    padding-top: 30px;
    justify-content: start;   
}

.locationBar {
    color: #333333;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    font-weight: 800;
}

.searchbar {
    width: 50%;
    display: flex;
}

.searchBtn {
    display: flex;
    flex-direction: row;
    background-color: #EB5757;
    padding: 15px 27px;
    border-radius: 10px;
    border-width: 0;
    align-items: center;
    justify-content: center;
}

.searchBtn p {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;        
    background: rgba(79, 79, 79, 0.4);    
}

.redLoupe {
    color: #EB5757;
    width: 17px;
    height: 17px;    
}

.map {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

p {
    padding: 0;
}