.container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 26px;
    color: #828282;
}

b {
    text-decoration: none;
    color: #828282;
    margin: 0 5px 0 5px;
}